@import '../style/index.less';

@prefix: ~'@{root-prefix}-modal';

.@{prefix} {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: @modalZIndex;

  &-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 520px;
    box-shadow: inset;
    border-radius: 2px;
    text-align: center;
  }

  &-confirm-content {
    padding: 24px 24px 12px;
  }

  &-header {
    border-bottom: 1px solid #f0f0f0;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-confirm-header {
    display: flex;
  }

  &-body {
    word-wrap: break-word;
    font-size: 14px;
    line-height: 22px;
    padding: 24px;
    flex-grow: 1;
    text-align: initial;
    overflow-y: auto;
  }

  &-confirm-body {
    word-wrap: break-word;
    font-size: 14px;
    line-height: 22px;
    padding: 16px 0;
    flex-grow: 1;
    text-align: initial;
    overflow-y: auto;
  }

  &-footer {
    padding: 10px 16px;
    button + button {
      margin-left: 8px;
    }
  }

  &-confirm-footer {
    padding: 10px 16px;

    button + button {
      margin-left: 8px;
    }
  }

  &-title {
    word-wrap: break-word;
    color: rgba(0, 0, 0, 0.85);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
  }
}

.@{prefix}-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  width: 532px;
  background: #fff;
  border-radius: 16px;
  z-index: @modalZIndex;
  text-align: center;
  transform: translate(-50%, -50%);
  max-height: 80%;
}

.x-modal-close-x {
  width: 16px;
  height: 16px;
  display: block;
  line-height: 16px;
  transform: scale(1.5);
}
