@import '../style/index.less';

@prefix: ~'@{root-prefix}-btn';

.@{prefix},
.@{prefix}:active,
.@{prefix}:focus {
  outline: 0;
}

.@{prefix} {
  background: @color-white-bg;
  font-size: @font-size-base;
  font-weight: 400;
  color: @color-primary;
  height: 36px;
  line-height: 20px;
  border-radius: 24px;
  border: 1px solid @color-primary;
  cursor: pointer;
  padding: 4px 15px;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  &:hover {
    background-color: #ff5b5e;
  }

  &:active {
    background-color: #da232f;
  }
}

.@{prefix}-primary {
  background: @color-primary;
  border: 1px solid @color-primary;
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  color: #fff;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
}

.@{prefix}-text {
  border: none;
}

.@{prefix}-dashed {
  border-style: dashed;
}

.@{prefix}-link {
  background: @color-white-bg;
  border: none;
  border-color: transparent;
  color: @color-primary;
  text-shadow: none;
}

.@{prefix}::before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  z-index: 1;
  display: none;
  background: @color-white-bg;
  border-radius: inherit;
  opacity: 0.35;
  transition: opacity 0.2s;
  content: '';
  pointer-events: none;
}
.@{prefix}-loading {
  position: relative;
  &:not([disabled]) {
    pointer-events: none;
  }

  &::before {
    display: block;
  }

  &-icon {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    .xicon {
      padding-right: 8px;
      animation: none;
      // for smooth button padding transition
      svg {
        animation: loadingCircle 1s infinite linear;
      }
    }
  }
}

@keyframes loadingCircle {
  100% {
    transform: rotate(360deg);
  }
}
